<input type="hidden" id="page" value="about"/>


<div class="row">
  <div class="col-lg-4">
    <h1>"Poop.  It's in the cloud..."</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-6">
    <p>My wife and I adopted twin boys out of state.  I, as a male, was stuck in and out of waiting rooms everytime the doctor
      came in to poke/prod the birth mom.</p>
    <p>Given some time on my hands I built poop.  Poop is a website for tracking your kids "movements" (bowel or otherwise).
      Thanks to Clojure being awesome, this took about 5 hours and most of that time was fighting with timezones.
    </p>
    <p>Sign up and try it out.  It's free and more features to come as I find things useful to add.</p>
    <p>Track me down on <a target="_blank" href="http://www.linkedin.com/in/kbedwell">LinkedIn</a> to find out more about what I do.</p>
    <p>Fork this project on github <a target="_blank" href="https://github.com/anonymoose/poop">Github</a> and build your own poop-stack, or just needlessly critique my misuse of Clojure idioms.</p>
  </div>
</div>
