<br/>
<div class="row">
  <a href="/event-fever">
    <div class="col-lg-3">
      <div class="panel panel-fever">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-warning fa-5x">Fever</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="/event-poop">
    <div class="col-lg-3">
      <div class="panel panel-poop">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-thumbs-up fa-5x">Poop</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="/event-pee">
    <div class="col-lg-3">
      <div class="panel panel-pee">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-tint fa-5x">Pee</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="/event-eat">
    <div class="col-lg-3">
      <div class="panel panel-eat">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-coffee fa-5x">Eat</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="/event-other">
    <div class="col-lg-3">
      <div class="panel panel-eat">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-question fa-5x">Other</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
  <a href="/event-report">
    <div class="col-lg-3">
      <div class="panel panel-report">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa fa-bar-chart-o fa-5x">Report</i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Recent History: {{today-words}}</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
          <table class="table table-hover tablesorter">
            <thead>
              <tr>
                <th>Kid <i class="fa fa-sort"></i></th>
                <th>When? <i class="fa fa-sort"></i></th>
                <th>Event <i class="fa fa-sort"></i></th>
                <th>Info <i class="fa fa-sort"></i></th>
                <th>Note <i class="fa fa-sort"></i></th>
              </tr>
            </thead>
            <tbody>
              {% for e in events %}
              <tr>
                <td>{{e.name}}</td>
                <td>{{e.create_dt|date:"yyyy-MM-dd h:mm a"}}</td>
                <td>{{e.log_type}}</td>
                <td>{{e.datapoint}} {{e.datapoint2}}</td>
                <td>{{e.note}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.row -->
