<input type="hidden" id="exchange" value="{{exchange}}"/>
<input type="hidden" id="symbol" value="{{symbol}}"/>
<input type="hidden" id="page" value="equity"/>

<div class="row">
  <div class="col-lg-3">
    <h1>{{exchange}} : {{symbol}}</h1>
  </div>
  <div class="col-lg-6">
    <div class="form-group input-group search-group">
      <input type="text" id="search" class="form-control ticker-search" placeholder="Search by Ticker">
      <span class="input-group-btn">
        <button id="search-button" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
  {% if not logged-in? %}
  <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-6">
        <a href="/sign-up" class="btn btn-success sign-up-button-top">Sign Up!</a>
      </div>
      <div class="col-lg-6">
        <a href="/sign-in" class="btn btn-info sign-up-button-top">Sign In!</a>
      </div>
    </div>
  </div>
  {% endif %}
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i> <a href="/home">Market Overview</a></li>
      <li class="active"><i class="fa fa-bar-chart-o"></i> {{meta.name}}</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-3">
    <div class="panel {% if last.c < 0 %}panel-danger{% else %}panel-success{% endif %}">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-6">
            <i class="fa {% if last.c < 0 %}fa-arrow-circle-down{% else %}fa-arrow-circle-up{% endif %} fa-5x"></i>
          </div>
          <div class="col-xs-6 text-right">
            <p class="announcement-heading">{{last.l_cur}}</p>
            <p class="announcement-text">{{last.c}}</p>
            <p class="announcement-text">{{last.lt}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel {{fundamentals-class}}">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-building fa-5x"></i>
          </div>
          <div class="col-xs-8 text-right">
            <p class="announcement-text"><strong>Name</strong> {{meta.name}}</p>
            <p class="announcement-text"><strong>Sector</strong> {{fundamentals.Sector}}</p>
            <p class="announcement-text"><strong>Industry</strong> {{fundamentals.Industry}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="panel {{fundamentals-class}}">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-4">
            <i class="fa fa-lightbulb-o fa-5x"></i>
          </div>
          <div class="col-xs-4 text-right">
            <p class="announcement-text"><strong>Range</strong> {{last.lo}} - {{last.hi}}</p>
            <p class="announcement-text"><strong>52 wk</strong> {{last.lo52}} - {{last.hi52}}</p>
            <p class="announcement-text"><strong>Open</strong> {{last.op}}</p>
            <p class="announcement-text"><strong>High</strong> {{last.hi}}</p>
            <p class="announcement-text"><strong>Low</strong> {{last.lo}}</p>
          </div>
          <div class="col-xs-4 text-right">
            <p class="announcement-text"><strong>Volume</strong> {{last.vo}}</p>
            <p class="announcement-text"><strong>Avg Vol</strong> {{last.avvo}}</p>
            <p class="announcement-text"><strong>Mkt Cap</strong> {{last.mc}}</p>
            <p class="announcement-text"><strong>Beta</strong> {{last.beta}}</p>
            <!-- <p class="announcement-text"><strong>Inst Own%</strong> {{last.inst_own}}</p> -->
            <p class="announcement-text"><strong>EPS</strong> {{last.eps}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% if not score.empty %}
  <!-- <div class="col-lg-3"> -->
  <!--   <div class="panel {{score-class}}"> -->
  <!--     <div class="panel-heading"> -->
  <!--       <div class="row"> -->
  <!--         <div class="col-xs-6"> -->
  <!--           <i class="fa fa-bullseye fa-5x"></i> -->
  <!--         </div> -->
  <!--         <div class="col-xs-6 text-right"> -->
  <!--           <p class="announcement-heading">{{scoreval|round}}</p> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
  {% endif %}
</div><!-- /.row -->
<!--
{{score|safe}}
-->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Recent History: {{today-words}}</h3>
      </div>
      <div class="panel-body">
        <div class="flot-chart flot-chart-equity">
          <div class="flot-chart-content" id="market-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.row -->

<div class="row">

{% if not obs|empty? %}
  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Observations</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% observations %}
        </div>
      </div>
    </div>
  </div>
{% endif %}

  <div class="col-lg-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Recent News</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for n in news %}
          <a href="{{n.link|first}}" target="_blank" class="list-group-item">
            <span class="badge">{{n.pubdate|first|truncate:16}}</span>
            <i class="fa fa-check"></i> {{n.title|first|fixup|safe}}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row">
      <div class="col-lg-12">
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-clock-o"></i> Other Links</h3>
          </div>
          <div class="panel-body">
            <div class="list-group">
              <!-- <a href="http://www.marketwatch.com/investing/stock/{{symbol}}/analystestimates?subview=snapshot&pg=analyst" target="_blank" class="list-group-item"> -->
              <!--   <i class="fa fa-check"></i> Analyst Estimates -->
              <!-- </a> -->
              <a href="http://finance.yahoo.com/q/sec?s={{symbol}}+SEC+Filings" target="_blank" class="list-group-item">
                <i class="fa fa-check"></i> SEC Filings
              </a>
              <a href="http://investing.money.msn.com/investments/institutional-ownership?symbol={{symbol}}" target="_blank" class="list-group-item">
                <i class="fa fa-check"></i> Major Holders
              </a>
              <a href="http://finance.yahoo.com/q/it?s={{symbol}}+Insider+Transactions" target="_blank" class="list-group-item">
                <i class="fa fa-check"></i> Insider Trading
              </a>
              <a href="http://finance.yahoo.com/q/is?s={{symbol}}+Income+Statement&annual" target="_blank" class="list-group-item">
                <i class="fa fa-check"></i> Income Statement
              </a>
              <a href="http://finance.yahoo.com/q/it?s={{symbol}}+Insider+Transactions" target="_blank" class="list-group-item">
                <i class="fa fa-check"></i> Balance Sheet
              </a>
              <a href="http://finance.yahoo.com/q/cf?s={{symbol}}+Cash+Flow&annual" target="_blank" class="list-group-item">
                <i class="fa fa-check"></i> Cash Flow
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  <!--   <div class="row"> -->
  <!--     <div class="col-lg-12"> -->
  <!--       <div class="panel panel-primary"> -->
  <!--         <div class="panel-heading"> -->
  <!--           <h3 class="panel-title"><i class="fa fa-clock-o"></i> Similar Stocks</h3> -->
  <!--         </div> -->
  <!--         <div class="panel-body"> -->
  <!--           <div class="list-group"> -->
  <!--             {% for s in similars %} -->
  <!--             <a href="/equity/{{s.exchange}}/{{s.symbol}}" class="list-group-item"> -->
  <!--               <span class="badge">{{s.exchange}}:{{s.symbol}}</span> -->
  <!--               <i class="fa fa-check"></i> {{s.name}} -->
  <!--             </a> -->
  <!--             {% endfor %} -->
  <!--           </div> -->
  <!--         </div> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  </div>
</div><!-- /.row -->
