<div class="row">
  <div class="col-lg-6">
    <form method="POST" id="save" action="/event-save" role="form">
      <input type="hidden" name="log_type" value="OTHER"/>
      <div class="row">
        <div class="col-lg-6">
          <h1>Something else?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">

          <div class="form-group">
            <label>Which kid?</label>
            {% for k in kids %}
            <div class="radio">
              <label>
                <input type="radio" name="kid_id" id="kid_{{k.id}}" value="{{k.id}}" />
                {{k.name}}
              </label>
            </div>
            {% endfor %}
          </div>

          <div class="form-group">
            <label for="note">What happened?</label>
            <textarea name="note" id="note" class="form-control" rows="3"></textarea>
          </div>

          <div class="form-group">
            <label for="activity_dt">When?</label>
            <input type="text" name="activity_dt" id="activity_dt" value="{{now-local}}" class="form-control"/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
