<div class="row">
  <div class="col-lg-6">
    <form method="POST" id="save" action="/event-save" role="form">
      <input type="hidden" name="log_type" value="FEVER"/>
      <div class="row">
        <div class="col-lg-6">
          <h1>Fever?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">

          <div class="form-group">
            <label>Which kid?</label>
            {% for k in kids %}
            <div class="radio">
              <label>
                <input type="radio" name="kid_id" id="kid_{{k.id}}" value="{{k.id}}" />
                {{k.name}}
              </label>
            </div>
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Temperature?</label>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="99" /> 99 </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="100" /> 100 </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="101" /> 101 </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="102" /> 102 </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="103" /> 103 </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="104" /> 104 </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="105" /> 105 </label> </div>
          </div>

          <div class="form-group">
            <label for="note">Note:</label>
            <textarea name="note" id="note" class="form-control" rows="3"></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
