{% if kids|length =  0 %}
<div class="row">
  <div class="col-lg-12">
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <h3>You have not added a kid yet.  Add some <a href="/account">here</a>.</h3>
    </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="col-lg-6">
    <form method="POST" id="save" action="/event-save" role="form">
      <input type="hidden" name="log_type" value="POOP"/>
      <div class="row">
        <div class="col-lg-6">
          <h1>Poop?</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">

          <div class="form-group">
            <label>Which kid?</label>
            {% for k in kids %}
            <div class="radio">
              <label>
                <input type="radio" name="kid_id" id="kid_{{k.id}}" value="{{k.id}}" />
                {{k.name}}
              </label>
            </div>
            {% endfor %}
          </div>

          <div class="form-group">
            <label>Poop Type?</label>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="Regular" /> Regular </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="A Lot" /> A lot! </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="A Little" /> A little! </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="Diarrhea" /> Diarrhea </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="Blood in stool" /> Blood in stool </label> </div>
            <div class="radio"> <label> <input type="radio" name="datapoint" value="Constipation" /> Constipation </label> </div>
          </div>

          <div class="form-group">
            <label for="activity_dt">When?</label>
            <input type="text" name="activity_dt" id="activity_dt" value="{{now-local}}" class="form-control"/>
          </div>

          <div class="form-group">
            <label for="note">Note:</label>
            <textarea name="note" id="note" class="form-control" rows="3"></textarea>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Save</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
