<hr/>
      <footer class="poop-footer">
        <!-- <ul class="footer-links"> -->
        <!--   <li>Pickr.io</li> -->
        <!--   <li class="muted">·</li> -->
        <!--   <li><a href="/">Home</a></li> -->
        <!--   <li class="muted">·</li> -->
        <!--   <li><a href="/terms">Terms</a></li> -->
        <!--   <li class="muted">·</li> -->
        <!--   <li><a href="/privacy">Privacy</a></li> -->
        <!-- </ul> -->
      </footer>

      </div><!-- /#page-wrapper -->

    </div><!-- /#wrapper -->

    {% if not mobile %}
    <!-- <script src="/js/site/mobile2.js"></script> -->
    {% endif %}
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.cookie.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/typeahead.min.js"></script>
    <script src="/js/site/site.js"></script>
    <script src="/js/tablesorter/jquery.tablesorter.js"></script>
    <script src="/js/tablesorter/tables.js"></script>
    <!--[if lte IE 8]><script src="js/flot/excanvas.min.js"></script><![endif]-->
    <script src="/js/flot/jquery.flot.js"></script>
    <script src="/js/flot/jquery.flot.time.js"></script>
    <script src="/js/flot/jquery.flot.JUMLib.js"></script>
    <script src="/js/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/flot/jquery.flot.mouse.js"></script>
    <script src="/js/flot/jquery.flot.candlestick.js"></script>
    <script src="/js/flot/jquery.flot.resize.js"></script>
    <script src="/js/flot/jquery.flot.pie.js"></script>
    <script src="/js/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/js/validation.js"></script>
  </body>
</html>
