

<input type="hidden" id="page" value="forgot-password"/>


<div class="row">
  <div class="col-lg-12">
    <ol class="breadcrumb">
      <li><i class="fa fa-dashboard"></i> <a href="/home">Market Overview</a></li>
      <li class="active"><i class="fa fa-pencil-square-o"></i> Forgot Password</li>
    </ol>
  </div>
</div><!-- /.row -->

{% if user.email %}
<div class="row">
  <div class="col-lg-6">
    
    <div class="row">
      <div class="col-lg-12">
        <h1>It's on the way!</h1> 
      </div>
    </div>
    <br/>
    <br/>
    <div class="row">
      <div class="col-lg-12">
        <strong>We will send a new password to {{user.email}}.  Use that password to get back in.</strong> 
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="row">
  <div class="col-lg-6">
    <form method="POST" id="signup" action="/forgot-password">
      <div class="row">
        <div class="col-lg-12">
          <h1>Forget Something?</h1> 
        </div>
      </div>
          <br/>
          <br/>
      <div class="row">
        <div class="col-lg-12">
          <strong>Enter the email you used when you signed up and we will send you a new password.</strong> 
        </div>
      </div>
      <div class="row">
        <div class="col-lg-9">
          <br/>
          <br/>
          <div class="form-group">
            <input type="text" name="email" id="email" class="form-control" placeholder="Email"/>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-info">Send Password</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endif %}

