<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poop : Everybody poops.</title>
    <meta="description" content="">

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.orig.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/css/typeahead.js-bootstrap.css" rel="stylesheet">
    <link href="/css/site.css" rel="stylesheet">
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <link href="/js/datepicker/css/datepicker.css" rel="stylesheet" type="text/css"></script>
    <!-- sendgrid -->
    <link rel="shortcut icon" href="/images/logo-favicon.ico?a=229" type="image/x-icon">
    <link rel="icon" href="/images/logo-favicon.ico?a=229" type="image/x-icon">
  </head>

  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img src="/images/logo-web-trimmed.png"/>Everybody p00ps.</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav side-nav">
            {% if logged-in? %}
              <li class="active"><a href="/dashboard"><i class="fa fa-dashboard"></i> Poop Tracker</a></li>
            {% endif %}
            <li><a href="/about"><i class="fa fa-cogs"></i> About Poop</a></li>
            {% if logged-in? %}
              <li><a href="/account"><i class="fa fa-male"></i> Account</a></li>
              <li><a href="/sign-out"><i class="fa fa-sign-out"></i> Sign Out</a></li>
            {% else %}
              <li><button onclick="window.location='/sign-up';" class="btn btn-success sign-up-button-menu">Sign Up!</button></li>
              <li><button onclick="window.location='/sign-in';" class="btn btn-info sign-up-button-menu">Sign In!</button></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div id="page-wrapper">
