<input type="hidden" id="page" value="index"/>

<div class="row">
  <div class="col-lg-3">
    <h1>Market Overview</h1>
  </div>
  <div class="col-lg-6">
    <div class="form-group input-group search-group">
      <input type="text" id="search" class="form-control ticker-search" placeholder="Search by Ticker">
      <span class="input-group-btn">
        <button id="search-button" class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
      </span>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="row">
      <div class="col-lg-6">
        <a href="/sign-up" class="btn btn-success sign-up-button-top">Sign Up!</a>
      </div>
      <div class="col-lg-6">
        <a href="/sign-in" class="btn btn-info sign-up-button-top">Sign In!</a>
      </div>
    </div>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <hr/>
    <!-- <ol class="breadcrumb"> </ol> -->
  </div>
</div>


<div class="row">
  <div class="col-lg-3">
    <a href="/index/DJI">
      <div class="panel {% if market-dow.c < 0 %}panel-danger{% else %}panel-success{% endif %}">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa {% if market-dow.c < 0 %}fa-arrow-circle-down{% else %}fa-arrow-circle-up{% endif %} fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading announcement-heading-index">{{market-dow.l_cur}}</p>
              <p class="announcement-text">Dow Jones</p>
              <p class="announcement-text">{{market-dow.lt}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3">
    <a href="/index/COMP">
      <div class="panel {% if market-nasd.c < 0 %}panel-danger{% else %}panel-success{% endif %}">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa {% if market-nasd.c < 0 %}fa-arrow-circle-down{% else %}fa-arrow-circle-up{% endif %} fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading announcement-heading-index">{{market-nasd.l_cur}}</p>
              <p class="announcement-text">NASDAQ</p>
              <p class="announcement-text">{{market-nasd.lt}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3">
    <a href="/index/SP500">
      <div class="panel {% if market-sp.c < 0 %}panel-danger{% else %}panel-success{% endif %}">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa {% if market-sp.c < 0 %}fa-arrow-circle-down{% else %}fa-arrow-circle-up{% endif %} fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading announcement-heading-index">{{market-sp.l_cur}}</p>
              <p class="announcement-text">S&amp;P 500</p>
              <p class="announcement-text">{{market-sp.lt}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
  <div class="col-lg-3">
    <a href="/index/VIX">
      <div class="panel {% if market-vix.c < 0 %}panel-success{% else %}panel-danger{% endif %}">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-6">
              <i class="fa {% if market-vix.c < 0 %}fa-arrow-circle-down{% else %}fa-arrow-circle-up{% endif %} fa-5x"></i>
            </div>
            <div class="col-xs-6 text-right">
              <p class="announcement-heading announcement-heading-index">{{market-vix.l_cur|replace:"\$":""}}</p>
              <p class="announcement-text">Volatility</p>
              <p class="announcement-text">{{market-vix.lt}}</p>
            </div>
          </div>
        </div>
      </div>
    </a>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Market History: {{today-words}}</h3>
      </div>
      <div class="panel-body">
        <div class="flot-chart flot-chart-index">
          <div class="flot-chart-content" id="market-chart"></div>
        </div>
      </div>
    </div>
  </div>
</div><!-- /.row -->


<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-arrow-circle-up"></i> Bullish Scores</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for s in score-ups %}
          <a href="/equity/{{s.exchange}}/{{s.symbol}}" class="list-group-item">
            <span class="badge">{{s.scoreval|round}}</span>
            <i class="fa fa-arrow-circle-up"></i> <strong>{{s.name|truncate:30}}</strong> ({{s.exchange}}:{{s.symbol}})
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-arrow-circle-up"></i> Biggest Established Gainers</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for g in gainers %}
          <a href="/equity/{{g.exchange}}/{{g.symbol}}" class="list-group-item">
            <span class="badge">{{g.change|round}}%</span>
            <i class="fa fa-arrow-circle-up"></i> <strong>{{g.name|truncate:30}}</strong> ({{g.exchange}}:{{g.symbol}})
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="col-lg-4"> -->
  <!--   <div class="panel panel-info"> -->
  <!--     <div class="panel-heading"> -->
  <!--       <h3 class="panel-title"><i class="fa fa-cogs"></i> Market Pulse</h3> -->
  <!--     </div> -->
  <!--     <div class="panel-body"> -->
  <!--       <div class="table-responsive"> -->
  <!--         <table class="table table-bordered table-hover table-striped tablesorter"> -->
  <!--           <thead> -->
  <!--             <tr> -->
  <!--               <th>Observation <i class="fa fa-sort"></i></th> -->
  <!--               <th>Bulls <i class="fa fa-sort"></i></th> -->
  <!--               <th>Bears <i class="fa fa-sort"></i></th> -->
  <!--             </tr> -->
  <!--           </thead> -->
  <!--           <tbody> -->
  <!--             {% for m in market-pulse %} -->
  <!--             <tr> -->
  <!--               <td>{{m.obs_type}}</td> -->
  <!--               <td>{{m.bulls}}</td> -->
  <!--               <td>{{m.bears}}</td> -->
  <!--             </tr> -->
  <!--             {% endfor %} -->
  <!--           </tbody> -->
  <!--         </table> -->
  <!--       </div> -->
  <!--     </div> -->
  <!--   </div> -->
  <!-- </div> -->
</div><!-- /.row -->
  
<div class="row">
  <div class="col-lg-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-arrow-circle-down"></i> Bearish Scores</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for s in score-downs %}
          <a href="/equity/{{s.exchange}}/{{s.symbol}}" class="list-group-item">
            <span class="badge">{{s.scoreval|round}}</span>
            <i class="fa fa-arrow-circle-down"></i> <strong>{{s.name|truncate:30}}</strong> ({{s.exchange}}:{{s.symbol}})
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4">
    <div class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-arrow-circle-down"></i> Biggest Established Losers</h3>
      </div>
      <div class="panel-body">
        <div class="list-group">
          {% for l in losers %}
          <a href="/equity/{{l.exchange}}/{{l.symbol}}" class="list-group-item">
            <span class="badge">{{l.change|round}}%</span>
            <i class="fa fa-arrow-circle-down"></i> <strong>{{l.name|truncate:30}}</strong> ({{l.exchange}}:{{l.symbol}})
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  
</div>

