<input type="hidden" id="page" value="equity"/>

<div class="row">
  <div class="col-lg-6">
    <h1>Poop Tracker</h1>
  </div>
</div><!-- /.row -->

Poop.  Everybody does it.

<!-- <div class="row"> -->
<!--   <div class="col-lg-12"> -->
<!--     <div class="panel panel-primary"> -->
<!--       <div class="panel-heading"> -->
<!--         <h3 class="panel-title"><i class="fa fa-bar-chart-o"></i> Recent History: {{today-words}}</h3> -->
<!--       </div> -->
<!--       <div class="panel-body"> -->
<!--         <div class="flot-chart flot-chart-equity"> -->
<!--           <div class="flot-chart-content" id="history-chart"></div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div><\!-- /.row -\-> -->

<!-- <div class="row"> -->
<!--   <div class="col-lg-4"> -->
<!--     <div class="panel panel-primary"> -->
<!--       <div class="panel-heading"> -->
<!--         <h3 class="panel-title"><i class="fa fa-clock-o"></i> Recent News</h3> -->
<!--       </div> -->
<!--       <div class="panel-body"> -->
<!--         <div class="list-group"> -->
<!--           {% for n in news %} -->
<!--           <a href="{{n.link|first}}" target="_blank" class="list-group-item"> -->
<!--             <span class="badge">{{n.pubdate|first|truncate:16}}</span> -->
<!--             <i class="fa fa-check"></i> {{n.title|first|fixup|safe}} -->
<!--           </a> -->
<!--           {% endfor %} -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div><\!-- /.row -\-> -->
